/* ==========COMMON STYLES========== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #2e2f42;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-transform: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

section {
  padding: 96px 0;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcfcfc;
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #0000001a;
  line-height: 0;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
}

.modal-close-button:active,
.modal-close-button:hover,
.modal-close-button:focus {
  border: none;
  background-color: #404bbf;
}
.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:active,
.modal-close-button:hover,
.modal-close-button:focus .close-svg {
  fill: #ffffff;
}

.review-form-description {
  text-align: center;
  width: 256px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}

/* ============REVIEW FORM STYLES =================*/

.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-comment {
  margin-bottom: 16px;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  resize: none;
  padding: 8px 16px;
  color: #2e2f4266;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: #2e2f4266;
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid #404bbf;
}

.privacy-policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.review-form-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button:hover,
.review-form-button:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============== HEADER MOBILE STYLES ============== */
.menu-nav-top,
.nav-top-contacts {
  display: none;
}

.header {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-top-nav {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.top-span-logo {
  color: #2e2f42;
}

/* =============== HERO MOBILE STYLES=============== */
.hero-image-top {
  max-width: 320px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/dark-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 72px 0;
  margin: 0 auto;
}

.first-head-hero {
  max-width: 288px;
  text-align: center;
  text-transform: capitalize;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  color: #ffffff;
}
.hero-btn {
  font-family: Roboto;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  align-content: center;

  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:active {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===============/ HERO MOBILE STYLES/=============== */

/* ============= BENEFITS SECTION MOBILE=========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-container-images {
  display: none;
}
.benefits-head-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.benefits-menu-item {
  margin-bottom: 72px;
}
.benefits-menu-item:last-child {
  margin-bottom: 0;
}

/* =============/ BENEFITS SECTION MOBILE/=========== */
/* ============= OUR TEAM SECTION MOBILE============= */
.our-team-top {
  background-color: #f4f4fd;
}
.second-head-team {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.our-team-item {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-container-item {
  padding: 32px 0;
}
.our-team-head {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: #f4f4fd;
}
/* ============= /OUR TEAM SECTION MOBILE/============= */

/* ================== OUR PORTFOLIO MOBILE=========== */
.second-head-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-overlay-text {
  display: none;
}
.our-portfolio-menu {
  border-radius: 0px 0px 4px 4px;
}
.our-portfolio-item {
  margin-bottom: 48px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-container-item {
  padding: 32px 6%;
}
.our-portfolio-head {
  margin-bottom: 8px;
}
/* ================== /OUR PORTFOLIO MOBILE/=========== */

/* ============= FOOTER SECTION MOBILE================== */
.down-section-menu {
  padding: 97.5px 0;
  background-color: #2e2f42;
}

.down-logo-text {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
  padding-left: 30%;
}

.down-span-logo {
  color: #f4f4fd;
}
.paragraph-text-footer {
  color: #f4f4fd;
  margin-bottom: 72px;
}

.paragraph-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 32%;

  margin-bottom: 16px;
}
.social-list-down {
  display: flex;
  padding-left: 15%;

  gap: 16px;
  margin-bottom: 72px;
}

.social-list-link-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.paragraph-text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 35%;

  margin-bottom: 16px;
}
.foter-form-menu {
  padding-left: 5%;
}
.input-size {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  padding-left: 16px;
}

.input-size::placeholder {
  color: #ffffff;
}
.footer-button-container {
  padding: 0 15%;
}
.footer-button {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 24px;
  align-content: center;
}

/* ============= /FOOTER SECTION MOBILE/================== */

@media screen and (max-width: 767px) {
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-open-btn-icon {
    stroke: #2f2f37;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background-color: inherit;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .backdrop-mobile {
    position: fixed;
    top: 72px;
    bottom: 40px;
  }
  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .mobile-menu-nav:active {
    color: #404bbf;
  }
  .mobile-block-menu {
    padding-bottom: 168px;
  }
  .mobile-block-item {
    margin-bottom: 72px;
  }
  .mobile-block-item:last-child {
    margin-bottom: 0;
  }
  .nav-top-mobile {
    display: block;
    margin-bottom: 48px;
  }
  .nav-mobile-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
  }
  .link-mobile:active {
    color: #404bbf;
  }
  .social-mobile-menu {
    display: flex;
    gap: 40px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 367px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============/ HEADER MOBILE STYLES /============== */
/* ====================TABLET ============ */

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
  .modal {
    width: 408px;
    height: 584px;
  }
  .review-form-description {
    width: 360px;
  }
  /* ============= HEADER TABLET STYLES================= */

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header.container.page-header-container {
    display: flex;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .logo-top-nav {
    margin-right: 120px;
  }
  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  .menu-nav-top {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-right: auto;
  }
  .link-nav {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    color: #2e2f42;
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav .link .link-active:active {
    color: #404bbf;
  }

  .link-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .menu-nav-item {
    transition-duration: 250ms;
  }

  .link-nav:hover::after,
  .link-nav:focus::after {
    display: block;
    width: 100%;
    color: #404bbf;
    margin-left: auto;
    margin-right: auto;
  }

  .link-nav:hover,
  .link-nav:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list.list.header {
    display: none;
  }
  .nav-top-contacts {
    display: block;
  }
  .nav-contacts-menu {
    column-gap: 12px;
  }

  .nav-contacts-item {
    padding: 0;
  }

  .link-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-contacts:hover,
  .link-contacts:focus {
    color: #404bbf;
    transition-duration: 250ms;
  }
  /* =============/ HEADER TABLET STYLES/================= */
  /* =============HERO TABLET STYLES ============ */
  .hero-image-top {
    max-width: 768px;
    padding: 112px 0;
    margin: 0 auto;
    text-transform: inherit;
  }
  .first-head-hero {
    max-width: 496px;
    font-size: 56px;
    text-transform: none;
  }
  /* =============HERO TABLET STYLES ============ */

  /* ============= BENEFITS SECTION TABLET=========== */

  .benefits-head-text {
    text-align: start;
  }
  .main-benefits-menu {
    padding-bottom: 0;
  }
  .benefits-menu-top {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .benefits-menu-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }

  /* ============= /BENEFITS SECTION TABLET/=========== */
  /* ============= OUR TEAM SECTION TABLET============= */

  .our-team-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .our-team-item {
    width: calc((100% - 24px) / 2);
  }
  /* ============= /OUR TEAM SECTION TABLET/============= */
  /* ============= OUR PORTFOLIO SECTION TABLET========== */
  .our-portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* ============= /OUR PORTFOLIO SECTION TABLET/========== */
  /* ================ FOOTER FORM TABLET================== */
  .container-tablet-footer {
    display: flex;
    gap: 24px;
    padding-left: 14%;
    padding-right: 14%;
  }
  .down-logo-text {
    padding-left: 0;
  }

  .paragraph-text-social {
    padding-left: 0;
  }
  .social-list-down {
    padding-left: 0;
  }
  .paragraph-text-subscribe {
    padding-left: 0;
  }
  .foter-form-menu {
    padding-left: 0;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: baseline;
  }
  .footer-button-container {
    padding: 0;
  }
  .footer-button {
    margin-top: 0;
  }

  /* ================ /FOOTER FORM TABLET/================== */
}

/* ============= HEADER DESKTOP STYLES================= */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .nav-contacts-menu {
    display: flex;
    gap: 40px;
  }
  .nav-contacts-item {
    padding: 24px 0;
  }
  .link-nav::after {
    bottom: -4px;
  }
  /* ============= HEADER DESKTOP STYLES================= */
  /* ================HERO DESKTOP STYLES============== */
  .hero-image-top {
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ================HERO DESKTOP STYLES============== */
  /* ============= BENEFITS SECTION DESKTOP=========== */
  .benefits-menu-top {
    display: flex;
    gap: 24px;
  }
  .benefits-menu-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-head-text {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .benefits-container-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
  }
  /* ============= /BENEFITS SECTION DESKTOP/=========== */
  /* ============= OUR TEAM SECTION DESKTOP============= */
  .our-team-item {
    width: calc((100% - 72px) / 4);
  }
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ============= OUR TEAM SECTION DESKTOP============= */

  /* ============= OUR PORTFOLIO SECTION DESKTOP========== */
  .portfolio-overlay-text {
    display: block;
  }
  .our-portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio-item:hover,
  .our-portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .our-portfolio-item:hover .portfolio-overlay-item {
    transform: translateY(0);
  }

  .portfolio-overlay-item {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-overlay-item:hover .portfolio-overlay-text {
    transform: translateY(0);
  }

  .portfolio-container-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  /* ============= /OUR PORTFOLIO SECTION DESKTOP/========== */

  /* ============= FOOTER SECTION DESKTOP========== */
  .down-section-menu {
    gap: 0;
    padding: 100px 0;
  }
  .container-tablet-footer {
    padding: 0;
    margin: 0;
  }
  .down-section-menu .container {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
  .container-block-menu {
    display: block;
    margin-right: 120px;
  }

  .paragraph-text-footer {
    max-width: 264px;
    margin-bottom: 0;
  }
  .social-list-down {
    margin-bottom: 0;
  }
  .footer-form-container {
    margin-left: 80px;
  }
  .social-list-link-down:hover,
  .social-list-link-down:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-button:hover,
  .footer-button:focus {
    background-color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* =============/ FOOTER SECTION DESKTOP/========== */
}
